name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  min-deps:
    name: Installs with min deps
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        PYTHON_VERSION: ['3.7']
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.PYTHON_VERSION }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.PYTHON_VERSION }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          sed "s/[<>]/=/" requirements.txt > requirements_min.txt
          pip install -r requirements_min.txt
      - name: Install package
        run: |
          python setup.py install
  unittest:
    name: Run tests in immcantation/test:devel container
    runs-on: ubuntu-latest
    container:
      image: immcantation/test:devel
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install package
        run: |
          python3 setup.py install
      - name: Unit tests
        run: |
          python3 -m unittest discover
      - name: Update container
        run: |
          curl -H "Content-Type:application/json" --data '{"docker_tag":"devel"}' -X POST https://hub.docker.com/api/build/v1/source/${{ secrets.DOCKERHUB_REPO }}/trigger/${{ secrets.DOCKERHUB_TRIGGER}}/call/
  clitest:
    runs-on: ubuntu-latest
    steps:
      # Get the repo code
      - name: Check out source-code repository
        uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: pip
      - name: Install pRESTO
        run: |
          python -m pip install --upgrade pip
          pip install .
      # Get test data from Zenodo
      - name: Download test data
        run: |
          wget https://zenodo.org/records/14679815/files/test.fastq.gz?download=1 -O test.fastq.gz
          gunzip test.fastq.gz
      
      # Run CLI tests
      - name: MaskPrimers extract
        run: |
          MaskPrimers.py extract --help
          MaskPrimers.py extract -s test.fastq --start 17 --len 10 --barcode --mode cut --log log.txt --nproc 4 --outdir output --outname MaskPrimers-extract --failed

